.btn-primary {
  color: #fff;
  background-color: brown;
  border-color: brown;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover{
  color: #fff;
  background-color: brown;
  border-color: brown;
}

.btn-outline-primary {
  color:brown;
  background-color: #fff;
  border-color: brown;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active:hover{
  color: #fff;
  background-color: brown;
  border-color: brown;
}