.btn-primary {
  color: #fff;
  background-color: steelblue;
  border-color: steelblue;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: steelblue;
  border-color: steelblue;
}
.btn-yt {
  color: #fff;
  background-color: firebrick;
  border-color: firebrick;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: firebrick;
  border-color: firebrick;
}
.btn-outline-primary {
  color:steelblue;
  background-color: #fff;
  border-color: steelblue;
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
  color: #fff;
  background-color: steelblue;
  border-color: steelblue;
}