.btn-primary {
  color: #fff;
  background-color: brown;
  border-color: brown;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover{
  color: #fff;
  background-color: brown;
  border-color: brown;
}

.btn-dc {
  color: #fff;
  background-color: brown;
  border-color: brown;
}
.btn-dc:hover, .btn-dc:focus, .btn-dc:active:hover{
  color: #fff;
  background-color: brown;
  border-color: brown;
}