
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="TSJ">

    <link rel="apple-touch-startup-image" href="img/icons/120x120.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/icons/180x180.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/icons/384x383.png"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/icons/512x512.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">

    <link rel="apple-touch-icon" href="img/icons/72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icons/96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="img/icons/144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icons/180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="img/icons/152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/icons/192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="img/icons/512x512.png" sizes="512x512">

    <link rel="manifest" href="manifest.json" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="口交惡徒 - TSJ">
    <meta name="description" content="台灣優秀傑出青年　不說謊、不犯罪、不口交">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tsj.tw/">
    <meta property="og:title" content="口交惡徒 - TSJ">
    <meta property="og:description" content="台灣優秀傑出青年　不說謊、不犯罪、不口交">
    <meta property="og:image" content="https://tsj.tw/img/img01.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://tsj.tw/">
    <meta property="twitter:title" content="口交惡徒 - TSJ">
    <meta property="twitter:description" content="台灣優秀傑出青年　不說謊、不犯罪、不口交">
    <meta property="twitter:image" content="https://tsj.tw/img/img01.jpg">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHFQST8J63"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-PHFQST8J63');
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- LongToke -->
    <script src="https://rawcdn.githack.com/KHC-ZhiHao/LongTake/master/dist/index.js"></script>

    <!-- Dependencies -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Game files -->
    <script src="js/versionLogs.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>
    <script src="js/items.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>
    <script src="js/achievements.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>
    <script src="js/artworks.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>

    <title>口交惡徒 - TSJ</title>
</head>

<body id="app" @load="autoBlower()">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><strong>TSJ 口交惡徒全球資訊網</strong></h1>
            <p class="lead">台灣優秀傑出青年　不說謊、不犯罪、不口交</p>
            <hr class="my-2">
            <p>對了，我幹你南投縣政府 🖕🖕🖕 <br>有種發公文叫我把網站撤掉阿，小王八蛋</p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="alert alert-success" role="alert">
                <strong>注意：</strong>本網站所有 TSJ，皆意指 Twitter 社交網路上之 Tom.S.Jospher (<a
                    href="https://twitter.com/TSJ94340321">@TSJ94340321</a>) 用戶，請本網站瀏覽者切莫做出過多臆測，如有雷同，就來口交。
            </div>
            <div class="alert alert-warning" role="alert"
                v-show="saveVersion !== versionLogs[0].ver && saveVersion !== null">
                <strong>警告：</strong>您目前的存檔版本為 {{saveVersion}}，最新遊戲版本為
                {{versionLogs[0].ver}}，如果遇到版本相容性問題，請重新整理本頁面，或至頁面底端進行遊戲重設。
            </div>
        </div>
        <div class="form-check text-center">
            <input class="form-check-input" type="checkbox" v-model="paperDoll.show" id="tsj-paper-doll-enable">
            <label class="form-check-label" for="tsj-paper-doll-enable">動態</label>
        </div>
        <div class="row">
            <div class="col-12 mt-2 text-center">
                <canvas v-show="paperDoll.show" id="tsj-paper-doll" width="700" height="495"
                    style="width: 100%; max-width: 700px;"></canvas>
                <img v-show="!paperDoll.show" src="img/img01.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <h3>持續幫 TSJ 口交，以獲得更熟練的技術！</h3>
                <button id="click" type="button" class="btn btn-success mr-2 btn-lg" @click="blow" onkeypress="return false;">馬上吹</button>
                <button type="button" class="btn btn-success btn-lg mr-2" @click="alert">晚點吹</button>
                <button type="button" class="btn btn-danger mr-2" @click="reborn">刪文</button>
                <button type="button" class="btn btn-info mr-2" @click="changeFormat">切換格式</button>
                <p class="text-warning">刪文會將所有次數、技術點、道具、成就歸零，但是可以縮短自動吹吹的時間<br>或是，你也可以直接對著麥克風吹吹 &gt;&lt;</p>
            </div>
            <div class="col-12 text-center mt-2">
                <h4>您目前總共吹了 {{ formatNumber(count) }} 次</h4>
                <h4>您目前擁有 {{ formatNumber(sp) }} 技術點</h4>
                <p>您已刪文 {{ rebornCount.toString() }} 次，獲得 {{ this.tickReduction / 10 }}% 技術點加成</p>
                <!-- <p>目前刪文 {{ rebornCount }} 次，獲得 {{ permanentSpBonus }}% 永久技術點加成</p> -->
            </div>
            <div class="col-12">
                <h3><strong>道具購買</strong></h3>
            </div>
            <div class="col-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>道具名稱</th>
                        <th>等級</th>
                        <th>目前狀態</th>
                        <th>價格</th>
                        <th>購買</th>
                    </tr>
                    <tr v-for="item in items" :key="item">
                        <td><strong>{{ item.name }}</strong><br><small>{{item.description}}</small></td>
                        <td class="align-middle">{{ item.level }}</td>
                        <td class="align-middle">{{ (status.item[item.id])?(formatNumber(status.item[item.id].value) + status.item[item.id].unit):"" }}</td>
                        <td class="align-middle">{{ formatNumber(item.price) }} 技術點</td>
                        <td class="align-middle">
                                <button type="button" class="btn btn-primary btn-sm m-1" @click="buy(item.id,1)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                                <button type="button" class="btn btn-primary btn-sm m-1" @click="buy(item.id,5)"><i class="fa fa-shopping-cart" aria-hidden="true"> × 5</i></button>

                                <button type="button" class="btn btn-primary btn-sm m-1" @click="buy(item.id,10)"><i class="fa fa-shopping-cart" aria-hidden="true"> × 10</i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12">
                <h3><strong>成就</strong></h3>
            </div>
            <div class="col-12">
                <table class="table table-striped table-hover mb-0">
                    <tr>
                        <th>成就名稱</th>
                        <th>條件</th>
                        <th>獲得日期</th>
                    </tr>
                    <tr v-for="item in getAchievements" :key="item" v-show="item.get == true">
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.getTime }}</td>
                    </tr>
                </table>
            </div>

        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-12 mt-2">
                <h2>TSJ 是誰？</h2>
                <p>TSJ 是台灣優秀傑出青年，他不說謊、不犯罪、不口交，雖然被稱為口交惡徒，不過他爸是警察，就算真的口交了也一定會無罪的！</p>

                <p>不過也有網友指出，TSJ 雖然號稱不口交，但私底下十分愛好這項運動，甚至逼迫同校女同學為其進行口交，以下是相關照片：</p>
                <div class="alert alert-danger text-center" role="alert">
                    <strong>⚠ 由于此信息不符合符合南投国田家安全法规，已被屏蔽。</strong><br>The following content has been hidden due to its
                    violation of the Tian Republic of Nantou's law of securities.
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-12">
                <h2>同人創作區</h2>
                <p>感謝巴哈版友【左業 unicorn89】許願</p>
            </div>
            <template v-for="(img, index) in artworks" :key="img">
                <div class="col-md-4 col-sm-12 text-center">
                    <img :src="`img/artworks/${img.path}`" alt="" class="img-fluid">
                    <span>{{ img.author }}</span>
                </div>
            </template>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h2>友站連結</h2>
                <p>巴哈版友【草屯舔大人官威大 noirht3608】許願</p>
            </div>
            <div class="col-12">
                <ul>
                    <li><a href="http://www.skjhs.ntct.edu.tw/">旭光高中：</a>南投縣十分優質的學校，必推！</li>
                    <li><a href="https://www.facebook.com/iNantouCounty">南投縣政府：</a>無限期支持南投獨立建國</li>
                    <li><a
                            href="https://www.facebook.com/%E5%8D%97%E6%8A%95%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%AD%A6%E5%AF%9F%E5%B1%80%E8%8D%89%E5%B1%AF%E5%88%86%E5%B1%80-1593551340966752">南投縣政府警察局草屯分局：</a>優質分局，不吃案、不包庇、不刪文。<br><strong
                            class="text-warning">特別推薦認真優質的田裕彰員警，Line ID：m0932963968</strong>。</li>
                    <!-- <li><a href=""></a></li>
                        <li><a href=""></a></li> -->
                </ul>
            </div>
        </div>

        <hr>

        <div class="row mt-2">
            <div class="col-12">
                <h2>開源貢獻 (?)</h2>
            </div>
            <div class="col-12 mt-2">
                <p>身為開放原始碼社群活躍者，將這個網站開源出來，讓大家一起宣揚 TSJ 的清新優質也是應該的。以下是 GitHub Repository，歡迎各位提交 PR XDD</p>
                <a name="" id="" class="btn btn-primary btn-lg" href="https://github.com/Lorex/tsjtw"
                    role="button">GitHub Repo 請點我</a>
                <p class="mt-2">貢獻名單：
                    <a v-for="(contributor, index) in contributors" :key="contributor"
                        :href="'https://github.com/' + contributor" target="_blank">
                        <img data-toggle="tooltip" data-placement="top" :title="contributor"
                            class="github-avatar rounded-circle"
                            :src="'https://github.com/' + contributor + '.png?size=32'" :alt="contributor">
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <h2>更新紀錄</h2>
                <template v-for="(log, index) in versionLogs" :key="log">
                    <h5>{{ log.ver }} {{ log.dateTime }}</h5>
                    <ul>
                        <li v-for="(item, indexItem) in log.items" :key="indexItem">{{ item }}</li>
                    </ul>
                </template>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <h3>刪除遊戲存檔</h3>
                <p class="text-warning">遊戲目前還在頻繁更新階段，如果您遇到版本相容性問題，或是網頁顯示異常，可以使用本按鈕刪除遊戲存檔</p>
                <div class="alert alert-danger" role="alert">
                    <strong>警告！</strong>以下這個按鈕戳下去之後，您將會被<strong>南投縣政府送來的蜜餞</strong>刪除遊戲存檔，這個動作無法復原，您必須重新幫 TSJ 吹吹。
                </div>
                <button type="button" class="btn btn-danger btn-sm" @click="reset">我知道了，我要吃蜜餞！</button>
                <p>
                    <span>目前版本：{{ versionLogs[0].ver }}</span><br>
                    <span>存檔版本：{{ saveVersion }}</span><br>
                    <span class="text-muted">上次存檔於：{{ saveTime }}</span>
                </p>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="lib/paper-doll/index.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>
    <script src="js/main.js?v=040116657b3c1a414363c40168d5c00d9e68fee1"></script>
</body>

</html>